@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap");
* {
  box-sizing: inherit;
}

html {
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
  height: 100%;
}

body {
  background: url("../img/bg.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

p {
  font-size: 0.9rem;
  margin-top: 25px;
  text-align: center;
}

a {
  text-decoration: underline;
  font-weight: 500;
  color: rgb(0, 0, 0);
}

a:hover {
  font-weight: bold;
}

input {
  background-image: none;
  border: none;
  font: inherit;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.grid {
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.register {
  background: #ffffffb4;
  border-radius: 5px;
  width: 600px;
  height: 350px;
  padding: 20px 26px;
}

.forma {
  padding: 10px;
}

.register input {
  border-radius: 3px;
}

.register input[type="text"],
.register input[type="password"],
.register input[type="number"] {
  background: none;
  color: rgb(0, 0, 0);
  font-weight: 400;
  padding: 10px;
  width: 100%;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #2b2b2b;
  opacity: 1; /* Firefox */
}

:focus {
  outline: none;
}

/* //////////////ALIGN HORIZONTAL INSIDE DIV////////////////////////// */
.outer {
  margin-top: 30px;
}
.outer:before {
  display: inline-block;
  vertical-align: middle;
}
/* //////////////////////////////////////// */

.input_reister {
  display: inline-block;
  vertical-align: middle;
  width: 47.5%;
  position: relative;
}

.input_reister_personal {
  width: 35%;
  margin-right: 4%;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.input_reister_age {
  width: 20%;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.animacija {
  border: 0;
  padding: 7px 0;
  border-bottom: 1px solid #2b2b2b;
}

.animacija ~ .focus-border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #3399ff;
  transition: 0.4s;
}
.animacija:focus ~ .focus-border {
  width: 100%;
  transition: 0.4s;
}
