table {
  text-align: center;
  border-spacing: 0px !important;
  width: 100%;
}

.row100.head th {
  padding-top: 15px;
  padding-bottom: 15px;
}

.row100 td {
  padding-top: 10px;
  padding-bottom: 10px;
}

.table.books_table tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

.table.books_table td {
  font-size: 14px;
  color: #000;
}

.table.books_table th {
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  background-color: #2e4ead;
}

.table.books_table th a {
  color: #fff;
}

.table.books_table .row100:hover td {
  background-color: #4360b55e;
  color: #000000;
}

.table.books_table .hov-column-books_table {
  background-color: #4360b55e;
  color: #000000;
}

.table.books_table .row100 td:hover {
  background-color: #4360b5b6;
  color: #fff;
}

/* table pagination s*/

.ul-pagination {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: #2e4ead;
  overflow: hidden;
}

.li-pagination {
  float: left;
}

.disabled {
  display: none;
}

.active {
  background-color: #112253;
  color: white;
}

.li-pagination a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

.li-pagination a:hover {
  background-color: #111111;
}

/* /////////////////////////////////////// */
/* BUTTONS */

.btn_table {
  font-family: "Ubuntu", sans-serif;
  border: none;
  background: #e9e9e9;
  color: #000000 !important;
  font-weight: 700;
  font-size: 12px;
  padding: 10px;
  margin: 2px;
  text-transform: uppercase;
  border-radius: 2px;
  display: inline-block;
  transition: all 0.3s ease 0s;
}

.btn_table:hover {
  color: #000000 !important;
  font-weight: 700 !important;
  border-radius: 2px;
  background: none;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.87);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.87);
  transition: all 0.3s ease 0s;
}
