@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500&display=swap");

.forma .add_new_book {
  margin-top: -30px;
  width: 80%;
}

.input_review {
  padding-bottom: 20px;
}

.forma .add_new_book textarea {
  resize: none;
  width: 100%;
  border: 2px solid #535353;
  padding: 10px;
}

.forma .add_new_book textarea:focus {
  border: 2px solid #1f1f1f;
}

.inputfield {
  padding: 10px;
  border: 2px solid #535353;
}

.inputfield:focus {
  border: 2px solid #1f1f1f;
}

#the-count {
  margin-top: 2px;
  float: right;
  font-size: 1rem;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #2b2b2b;
  opacity: 1; /* Firefox */
}

:focus {
  outline: none;
}

/* ////////////////////////////// */
.button_submit {
  margin: 20px 0 20px 0;
  text-align: center;
}

.but_anim {
  font-family: "Ubuntu", sans-serif;
  border: none;
  background: #2b2b2b;
  color: #ffffff !important;
  font-weight: 400;
  font-size: 15px;
  padding: 15px;
  text-transform: uppercase;
  border-radius: 2px;
  display: inline-block;
  transition: all 0.3s ease 0s;
}

.but_anim:hover {
  color: #2b2b2b !important;
  font-weight: bold !important;
  letter-spacing: 1.5px;
  border-radius: 2px;
  background: none;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.3s ease 0s;
}

.redjedan {
  width: 350px;
  display: inline-block;
}

.inputfield1 {
  padding: 10px;
  border: 2px solid #535353;
}

.inputfield1:focus {
  border: 2px solid #1f1f1f;
}

.button_submit1 {
  margin: 80px 0 20px 160px;
}
